* {
    margin: 0;;
    padding: 0;
}
.card-price {
    border-radius: 3px;
    transition: all 0.3s;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
  
.card-price:hover {
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
}

.card-price .card-body {
    padding: 1.25rem;
}

.card-price img {
    width: 100%;
}

.card-price .title {
    margin-bottom: 1.25rem;
}

.card-price .text {
    margin-bottom: 1rem;
}